*.exe
cmake-build-debug
cmake-build-release
android-build
.idea
cmake-build-debug-event-trace
cmake-build-mingw
artifact
.qmlls.ini

.vs
.vscode
.cache

.gitbak
out
build
build2
build3
userdata
system
roms
build-old

vcpkg_installed

.obsidian

.DS_Store

.claude
ra-responses.txt
