[submodule "thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "libs/rcheevos"]
	path = libs/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "thirdparty/libchdr"]
	path = thirdparty/libchdr
	url = https://github.com/rtissera/libchdr.git
